* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #1b1b1b;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav p {
  font-size: 40px;
  font-weight: bolder;
  color: white;
}
.nav {
  width: 65%;
  display: flex;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
}
.hb {
  display: none;
}
#home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  height: 87vh;
}
#home img {
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.container {
  font-size: 9rem;
  width: max-content;
}
.animation {
  height: 9rem;
  overflow: hidden;
}
.animation > div > div {
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  margin-bottom: 2rem;
  display: inline-block;
}
.animation div:first-child {
  animation: text-animation 8s infinite;
}
.first div {
  background-color: #c10528;
}
.second div {
  background-color: #cd921e;
}
.third div {
  background-color: #197200;
}
@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -10rem;
  }
  30% {
    margin-top: -10rem;
  }
  40% {
    margin-top: -22rem;
  }
  60% {
    margin-top: -22rem;
  }
  70% {
    margin-top: -10rem;
  }
  80% {
    margin-top: -10rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  html {
    font-size:10%;
  }
  #home {
    flex-direction: column;
    justify-content:flex-start;
    margin: auto;
    border: 1px solid red;
    text-align: center;
    padding: 5rem;
  }
  .container {
    font-size: 6rem;
    width: max-content;
  }
  .animation {
    height: 6rem;
    overflow: hidden;
  }
  .animation > div > div {
    color: white;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    margin-bottom: 2rem;
    display: inline-block;
  }
  @keyframes text-animation {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: 0;
    }
    20% {
      margin-top: -8rem;
    }
    30% {
      margin-top: -8rem;
    }
    40% {
      margin-top: -16.5rem;
    }
    60% {
      margin-top: -16.5rem;
    }
    70% {
      margin-top: -8rem;
    }
    80% {
      margin-top: -8rem;
    }
    90% {
      margin-top: 0;
    }
    100% {
      margin-top: 0;
    }
  }
  #home img {
   width: 50rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .nav {
    position: fixed;
    top: 9rem;
    background-color: red;
    width: 100%;
    left: -100%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
    gap: 4rem;
    align-items: center;
    transition: all 0.3s ease;
  }
  .hb {
    width: 5rem;
    display: block;
  }
  #click:checked ~ .nav {
    left: 0;
    transition: all 0.3s ease;
  }
}
